In [1]:
import math as m
import pandas as pd
import numpy as np
import pprint
import matplotlib.pyplot as plt

In [2]:
indice_idh = pd.read_csv('./csv/hdi.csv', header = 0)
iso_code = pd.read_csv('./csv/iso_code.csv', header = 0)

In [3]:
# Verificando
indice_idh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189 entries, 0 to 188
Data columns (total 30 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   HDI Rank  189 non-null    int64
 1   Country   189 non-null    object
 2   1990      142 non-null    float64
 3   1991      143 non-null    float64
 4   1992      140 non-null    float64
 5   1993      143 non-null    float64
 6   1994      143 non-null    float64
 7   1995      147 non-null    float64
 8   1996      147 non-null    float64
 9   1997      147 non-null    float64
 10  1998      147 non-null    float64
 11  1999      150 non-null    float64
 12  2000      172 non-null    float64
 13  2001      172 non-null    float64
 14  2002      174 non-null    float64
 15  2003      176 non-null    float64
 16  2004      179 non-null    float64
 17  2005      186 non-null    float64
 18  2006      186 non-null    float64
 19  2007      186 non-null    float64
 20  2008      186 non-null    float64
 21  2009      186 non-null    float64
 22  2010      188 non-null    float64
 23  2011      188 non-null    float64
 24  2012      188 non-null    float64
 25  2013      188 non-null    float64
 26  2014      188 non-null    float64
 27  2015      188 non-null    float64
 28  2016      188 non-null    float64
 29  2017      189 non-null    float64
dtypes: float64(28), int64(1), object(1)
memory usage: 43.6+ KB

In [4]:
indice_idh

,HDI Rank,Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,168,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.437,0.453,0.463,0.471,0.482,0.487,0.491,0.493,0.494,0.498
1,68,Albania,0.645,0.626,0.610,0.613,0.619,0.632,0.641,0.641,...,0.724,0.729,0.741,0.752,0.767,0.771,0.773,0.776,0.782,0.785
2,85,Algeria,0.577,0.581,0.587,0.591,0.595,0.600,0.608,0.617,...,0.709,0.719,0.729,0.736,0.740,0.745,0.747,0.749,0.753,0.754
3,35,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.831,0.830,0.828,0.827,0.849,0.850,0.853,0.854,0.856,0.858
4,147,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.502,0.522,0.520,0.535,0.543,0.554,0.564,0.572,0.577,0.581
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,78,Venezuela (Bolivarian Republic of),0.634,0.644,0.651,0.653,0.654,0.658,0.660,0.664,...,0.753,0.753,0.759,0.771,0.774,0.776,0.778,0.775,0.766,0.761
185,116,Viet Nam,0.475,0.484,0.496,0.506,0.517,0.529,0.540,0.539,...,0.640,0.656,0.654,0.664,0.670,0.675,0.678,0.684,0.689,0.694
186,178,Yemen,0.399,0.403,0.405,0.408,0.409,0.415,0.422,0.427,...,0.485,0.491,0.498,0.499,0.505,0.507,0.505,0.483,0.462,0.452
187,144,Zambia,0.401,0.402,0.403,0.409,0.408,0.412,0.416,0.419,...,0.517,0.533,0.544,0.556,0.569,0.574,0.580,0.583,0.586,0.588
188,156,Zimbabwe,0.491,0.494,0.481,0.476,0.473,0.467,0.466,0.459,...,0.439,0.450,0.467,0.478,0.505,0.516,0.525,0.529,0.532,0.535

In [5]:
#Iniciando análise de "missing values" [valores faltantes] contando em toda tabela 
indice_idh.isnull().sum()

HDI Rank     0
Country      0
1990        47
1991        46
1992        49
1993        46
1994        46
1995        42
1996        42
1997        42
1998        42
1999        39
2000        17
2001        17
2002        15
2003        13
2004        10
2005         3
2006         3
2007         3
2008         3
2009         3
2010         1
2011         1
2012         1
2013         1
2014         1
2015         1
2016         1
2017         0
dtype: int64

In [6]:
#Como vimos alguns casos de alguns países que não possuem informações, vamos dropar as linhas para não atrapalhar o df
indice_idh.dropna(subset = ['1990'], inplace=True)
indice_idh.isnull().sum()

HDI Rank    0
Country     0
1990        0
1991        0
1992        3
1993        0
1994        0
1995        0
1996        0
1997        0
1998        0
1999        0
2000        0
2001        0
2002        0
2003        0
2004        0
2005        0
2006        0
2007        0
2008        0
2009        0
2010        0
2011        0
2012        0
2013        0
2014        0
2015        0
2016        0
2017        0
dtype: int64

In [7]:
#Como vimos alguns casos de alguns países que não possuem informações, neste caso já podemos preencher com a média
indice_idh['1992'].fillna((indice_idh['1992'].mean()), inplace=True)
indice_idh.isnull().sum()

HDI Rank    0
Country     0
1990        0
1991        0
1992        0
1993        0
1994        0
1995        0
1996        0
1997        0
1998        0
1999        0
2000        0
2001        0
2002        0
2003        0
2004        0
2005        0
2006        0
2007        0
2008        0
2009        0
2010        0
2011        0
2012        0
2013        0
2014        0
2015        0
2016        0
2017        0
dtype: int64

In [8]:
#Notando que o dataframe pode ter problemas de espaços adicionais
#Vou repará-los
indice_idh['Country'] = indice_idh['Country'].str.strip()
indice_idh[indice_idh['Country'] == 'Brazil']

,HDI Rank,Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
23,79,Brazil,0.611,0.615,0.622,0.63,0.64,0.648,0.656,0.664,...,0.716,0.718,0.727,0.731,0.736,0.748,0.752,0.757,0.758,0.759

In [9]:
#Tratando nomes dos países para garantir igualdades
iso_code['name'] = iso_code['name'].str.strip()

indice_idh_iso_code = pd.merge(left=indice_idh, right=iso_code, how='left', left_on=['Country'], right_on=['name'])

#Verificando os países com problema
indice_idh_iso_code[indice_idh_iso_code['name'].isnull()]

,HDI Rank,Country,1990,1991,1992,1993,1994,1995,1996,1997,...,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
26,176,Congo (Democratic Republic of the),0.356,0.353,0.601892,0.340,0.334,0.333,0.337,0.334,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,144,Eswatini (Kingdom of),0.536,0.537,0.536000,0.531,0.524,0.520,0.513,0.504,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,7,"Hong Kong, China (SAR)",0.781,0.786,0.791000,0.799,0.804,0.808,0.811,0.816,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,22,Korea (Republic of),0.728,0.739,0.746000,0.756,0.767,0.778,0.789,0.800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,112,Moldova (Republic of),0.651,0.640,0.620000,0.618,0.595,0.594,0.591,0.593,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,154,Tanzania (United Republic of),0.370,0.371,0.370000,0.370,0.369,0.371,0.372,0.375,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,14,United Kingdom,0.775,0.788,0.801000,0.814,0.827,0.839,0.844,0.849,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,13,United States,0.860,0.861,0.867000,0.871,0.875,0.877,0.879,0.881,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#Vou atualizar o nome dos países para consertar
indice_idh['Country'].replace(
    {
        'Eswatini (Kingdom of)'             : 'Eswatini', 
        'Hong Kong, China (SAR)'            : 'Hong Kong', 
        'Korea (Republic of)'               : 'Korea, Republic of',
        'Moldova (Republic of)'             : 'Moldova, Republic of',
        'Tanzania (United Republic of)'     : 'Tanzania, United Republic of',
        'United Kingdom'                    : 'United Kingdom of Great Britain and Northern Ireland',
        'United States'                     : 'United States of America'
    }
, inplace=True)

#Re aglutinando dados
indice_idh_iso_code = pd.merge(left=indice_idh, right=iso_code, how='left', left_on=['Country'], right_on=['name'])

#Verificando os países com problema
indice_idh_iso_code[indice_idh_iso_code['name'].isnull()]

,HDI Rank,Country,1990,1991,1992,1993,1994,1995,1996,1997,...,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
26,176,Congo (Democratic Republic of the),0.356,0.353,0.601892,0.34,0.334,0.333,0.337,0.334,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#Agora temos o indice IDH com o ISO_CODE
indice_idh_iso_code.head()

,HDI Rank,Country,1990,1991,1992,1993,1994,1995,1996,1997,...,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,68,Albania,0.645,0.626,0.610,0.613,0.619,0.632,0.641,0.641,...,AL,ALB,8.0,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
1,85,Algeria,0.577,0.581,0.587,0.591,0.595,0.600,0.608,0.617,...,DZ,DZA,12.0,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
2,47,Argentina,0.704,0.713,0.720,0.725,0.728,0.731,0.738,0.746,...,AR,ARG,32.0,ISO 3166-2:AR,Americas,Latin America and the Caribbean,South America,19.0,419.0,5.0
3,83,Armenia,0.631,0.628,0.580,0.588,0.599,0.605,0.612,0.623,...,AM,ARM,51.0,ISO 3166-2:AM,Asia,Western Asia,NaN,142.0,145.0,NaN
4,3,Australia,0.866,0.867,0.868,0.872,0.875,0.883,0.886,0.889,...,AU,AUS,36.0,ISO 3166-2:AU,Oceania,Australia and New Zealand,NaN,9.0,53.0,NaN

In [12]:
#Salvando o indice IDH por país
indice_idh_iso_code.to_csv(path_or_buf='./csv/indice_idh_porPais.csv')

In [13]:
#Porém é interessante também separar por ano para termos uma informação parecida com o indice de lib. economica
indice_idh_iso_code_porAno = indice_idh_iso_code.melt(id_vars=['Country','alpha-2','alpha-3',
'country-code','iso_3166-2','region','sub-region','intermediate-region','region-code','sub-region-code','intermediate-region-code'], 
value_vars=['1990','1991','1992','1993','1994','1995','1996','1997','1998','1999','2000','2001','2002','2003',
'2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017'], var_name="Year", value_name="IDH")
#Verificando resultado
indice_idh_iso_code_porAno.head()

,Country,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code,Year,IDH
0,Albania,AL,ALB,8.0,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN,1990,0.645
1,Algeria,DZ,DZA,12.0,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN,1990,0.577
2,Argentina,AR,ARG,32.0,ISO 3166-2:AR,Americas,Latin America and the Caribbean,South America,19.0,419.0,5.0,1990,0.704
3,Armenia,AM,ARM,51.0,ISO 3166-2:AM,Asia,Western Asia,NaN,142.0,145.0,NaN,1990,0.631
4,Australia,AU,AUS,36.0,ISO 3166-2:AU,Oceania,Australia and New Zealand,NaN,9.0,53.0,NaN,1990,0.866

In [14]:
#Salvando o indice IDH por ANO
indice_idh_iso_code_porAno.to_csv(path_or_buf='./csv/indice_idh_porAno.csv')