In [17]:
import math as m
import pandas as pd
import numpy as np
import pprint
import matplotlib.pyplot as plt

In [18]:
indice_gni = pd.read_csv('./csv/gni_per_capita.csv', header = 0)
iso_code = pd.read_csv('./csv/iso_code.csv', header = 0)

In [19]:
# Verificando
indice_gni.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 31 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  208 non-null    object
 1   1990     208 non-null    object
 2   1991     208 non-null    object
 3   1992     208 non-null    object
 4   1993     208 non-null    object
 5   1994     208 non-null    object
 6   1995     208 non-null    object
 7   1996     208 non-null    object
 8   1997     208 non-null    object
 9   1998     208 non-null    object
 10  1999     208 non-null    object
 11  2000     208 non-null    object
 12  2001     208 non-null    object
 13  2002     208 non-null    object
 14  2003     208 non-null    object
 15  2004     208 non-null    object
 16  2005     208 non-null    object
 17  2006     208 non-null    object
 18  2007     208 non-null    object
 19  2008     208 non-null    object
 20  2009     208 non-null    object
 21  2010     208 non-null    object
 22  2011     208 non-null    object
 23  2012     208 non-null    object
 24  2013     208 non-null    object
 25  2014     208 non-null    object
 26  2015     208 non-null    object
 27  2016     208 non-null    object
 28  2017     208 non-null    object
 29  2018     208 non-null    object
 30  Info     13 non-null     object
dtypes: object(31)
memory usage: 25.2+ KB

In [20]:
#Iniciando análise de "missing values" [valores faltantes] contando em toda tabela 
indice_gni.isnull().sum()

Country      0
1990         0
1991         0
1992         0
1993         0
1994         0
1995         0
1996         0
1997         0
1998         0
1999         0
2000         0
2001         0
2002         0
2003         0
2004         0
2005         0
2006         0
2007         0
2008         0
2009         0
2010         0
2011         0
2012         0
2013         0
2014         0
2015         0
2016         0
2017         0
2018         0
Info       195
dtype: int64

In [21]:
#Notando que o dataframe pode ter problemas de espaços adicionais
#Vou repará-los
del indice_gni['Info']
indice_gni['Country'] = indice_gni['Country'].str.strip()
indice_gni[indice_gni['Country'] == 'Brazil']

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
23,Brazil,10082,10089,9905,10142,10368,10901,10835,10973,10707,...,13424,14194,14670,14892,15351,15177,14490,13907,13975,14068

In [22]:
#Tratando nomes dos países para garantir igualdades
iso_code['name'] = iso_code['name'].str.strip()

indice_gni_iso_code = pd.merge(left=indice_gni, right=iso_code, how='left', left_on=['Country'], right_on=['name'])

#Verificando os países com problema
indice_gni_iso_code[indice_gni_iso_code['name'].isnull()]

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
39,Congo (Democratic Republic of the),2054,1684,1550,1330,729,696,725,664,642,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,CÃ´te d'Ivoire,2806,2759,2686,2579,2600,2704,2865,2925,3025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,Eswatini (Kingdom of),5927,5914,5978,5855,5593,6092,6391,6468,6256,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,Hong Kong; China (SAR),26175,27273,28669,31307,32332,32678,31988,33624,32084,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,Korea (Republic of),11614,12687,13326,14091,15213,16482,17573,18400,17121,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,Moldova (Republic of),6743,5552,3902,3871,2686,3104,3062,3104,2892,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,Palestine; State of,1079,984,1176,1241,3641,3749,3595,3987,4584,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,Tanzania (United Republic of),1490,1478,1434,1407,1389,1407,1449,1457,1485,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,United Kingdom,26485,26133,26228,26800,27864,28410,29072,30283,31365,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,United States,37154,36597,37350,37867,38858,39449,40470,41718,43049,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,Human Development,,..,..,..,..,..,..,..,..,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,Very high human development,26297,26152,26068,26091,26408,26950,27549,28347,28787,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,High human development,4416,4532,4619,4767,4947,5109,5328,5548,5576,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,Medium human development,2131,2031,2072,2124,2197,2303,2414,2476,2593,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,Low human development,1871,1813,1797,1723,1636,1652,1716,1748,1771,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,Developing Countries,3901,3930,4009,4109,4204,4333,4504,4666,4718,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,Regions,,..,..,..,..,..,..,..,..,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,Arab States,10779,10364,10705,10772,10795,10877,11087,11399,11870,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,East Asia and the Pacific,2269,2408,2619,2860,3128,3359,3609,3816,3793,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,Europe and Central Asia,9261,8651,7903,7497,6650,6637,6820,7146,7299,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,Latin America and the Caribbean,9499,9716,9831,10041,10296,10283,10472,10851,10906,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,South Asia,2424,2461,2526,2558,2603,2718,2823,2856,2940,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,Sub-Saharan Africa,2638,2579,2441,2363,2285,2330,2387,2421,2417,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,Least Developed Countries,1369,1343,1266,1253,1176,1248,1298,1343,1374,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,Small Island Developing States,6907,7007,7181,7393,7716,8068,8387,8803,8709,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,Organization for Economic Co-operation and Dev...,27153,27133,27373,27511,28097,28635,29380,30249,30892,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,World,8959,8884,8855,8877,8987,9160,9374,9617,9713,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
#Vou atualizar o nome dos países para consertar
indice_gni['Country'].replace(
    {
        'Eswatini (Kingdom of)'             : 'Eswatini', 
        'Congo (Democratic Republic of the)': 'Congo, Democratic Republic of the',
        'Hong Kong; China (SAR)'            : 'Hong Kong', 
        'Korea (Republic of)'               : 'Korea, Republic of',
        'Moldova (Republic of)'             : 'Moldova, Republic of',
        'Tanzania (United Republic of)'     : 'Tanzania, United Republic of',
        'United Kingdom'                    : 'United Kingdom of Great Britain and Northern Ireland',
        'United States'                     : 'United States of America'
    }
, inplace=True)

#Re aglutinando dados
indice_gni_iso_code = pd.merge(left=indice_gni, right=iso_code, how='left', left_on=['Country'], right_on=['name'])

#Verificando os países com problema
indice_gni_iso_code[indice_gni_iso_code['name'].isnull()]

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
45,CÃ´te d'Ivoire,2806,2759,2686,2579,2600,2704,2865,2925,3025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,Palestine; State of,1079,984,1176,1241,3641,3749,3595,3987,4584,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,Human Development,,..,..,..,..,..,..,..,..,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,Very high human development,26297,26152,26068,26091,26408,26950,27549,28347,28787,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,High human development,4416,4532,4619,4767,4947,5109,5328,5548,5576,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,Medium human development,2131,2031,2072,2124,2197,2303,2414,2476,2593,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,Low human development,1871,1813,1797,1723,1636,1652,1716,1748,1771,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,Developing Countries,3901,3930,4009,4109,4204,4333,4504,4666,4718,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,Regions,,..,..,..,..,..,..,..,..,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,Arab States,10779,10364,10705,10772,10795,10877,11087,11399,11870,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,East Asia and the Pacific,2269,2408,2619,2860,3128,3359,3609,3816,3793,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,Europe and Central Asia,9261,8651,7903,7497,6650,6637,6820,7146,7299,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,Latin America and the Caribbean,9499,9716,9831,10041,10296,10283,10472,10851,10906,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,South Asia,2424,2461,2526,2558,2603,2718,2823,2856,2940,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,Sub-Saharan Africa,2638,2579,2441,2363,2285,2330,2387,2421,2417,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,Least Developed Countries,1369,1343,1266,1253,1176,1248,1298,1343,1374,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,Small Island Developing States,6907,7007,7181,7393,7716,8068,8387,8803,8709,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,Organization for Economic Co-operation and Dev...,27153,27133,27373,27511,28097,28635,29380,30249,30892,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,World,8959,8884,8855,8877,8987,9160,9374,9617,9713,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
#E vamos dropar os outros, pois são índices regionais
indice_gni_iso_code.dropna(subset = ['name'], inplace=True)
#Verificando os países com problema
indice_gni_iso_code[indice_gni_iso_code['name'].isnull()]

Empty DataFrame
Columns: [Country, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, name, alpha-2, alpha-3, country-code, iso_3166-2, region, sub-region, intermediate-region, region-code, sub-region-code, intermediate-region-code]
Index: []

[0 rows x 41 columns]

In [25]:
#Agora temos o indice IDH com o ISO_CODE
indice_gni_iso_code.head()

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,2193,1841,1739,1208,877,1244,1130,1039,967,...,AF,AFG,4.0,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Albania,4415,3138,2857,3261,3600,4168,4594,4112,4530,...,AL,ALB,8.0,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
2,Algeria,9989,9457,9462,9171,8847,8904,9069,9099,9502,...,DZ,DZA,12.0,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
3,Andorra,49062,48391,47002,44928,44747,45136,46861,51136,52922,...,AD,AND,20.0,ISO 3166-2:AD,Europe,Southern Europe,NaN,150.0,39.0,NaN
4,Angola,4139,4528,1737,1704,1304,2858,2826,3335,3269,...,AO,AGO,24.0,ISO 3166-2:AO,Africa,Sub-Saharan Africa,Middle Africa,2.0,202.0,17.0

In [26]:
#Porém é interessante também separar por ano para termos uma informação parecida com o indice de lib. economica
indice_gni_iso_code_porAno = indice_gni_iso_code.melt(id_vars=['Country','alpha-2','alpha-3',
'country-code','iso_3166-2','region','sub-region','intermediate-region','region-code','sub-region-code','intermediate-region-code'], 
value_vars=['1990','1991','1992','1993','1994','1995','1996','1997','1998','1999','2000','2001','2002','2003',
'2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017', '2018'], var_name="Year", value_name="gni")
#Verificando resultado
indice_gni_iso_code_porAno.head()

,Country,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code,Year,gni
0,Afghanistan,AF,AFG,4.0,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN,1990,2193
1,Albania,AL,ALB,8.0,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN,1990,4415
2,Algeria,DZ,DZA,12.0,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN,1990,9989
3,Andorra,AD,AND,20.0,ISO 3166-2:AD,Europe,Southern Europe,NaN,150.0,39.0,NaN,1990,49062
4,Angola,AO,AGO,24.0,ISO 3166-2:AO,Africa,Sub-Saharan Africa,Middle Africa,2.0,202.0,17.0,1990,4139

In [27]:
indice_gni_iso_code_porAno.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5481 entries, 0 to 5480
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   5481 non-null   object
 1   alpha-2                   5452 non-null   object
 2   alpha-3                   5481 non-null   object
 3   country-code              5481 non-null   float64
 4   iso_3166-2                5481 non-null   object
 5   region                    5481 non-null   object
 6   sub-region                5481 non-null   object
 7   intermediate-region       2291 non-null   object
 8   region-code               5481 non-null   float64
 9   sub-region-code           5481 non-null   float64
 10  intermediate-region-code  2291 non-null   float64
 11  Year                      5481 non-null   object
 12  gni                       5481 non-null   object
dtypes: float64(4), object(9)
memory usage: 364.0+ KB

In [28]:
indice_gni_iso_code_porAno['gni'] = pd.to_numeric(indice_gni_iso_code_porAno['gni'], errors='coerce')
indice_gni_iso_code_porAno.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5481 entries, 0 to 5480
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   5481 non-null   object
 1   alpha-2                   5452 non-null   object
 2   alpha-3                   5481 non-null   object
 3   country-code              5481 non-null   float64
 4   iso_3166-2                5481 non-null   object
 5   region                    5481 non-null   object
 6   sub-region                5481 non-null   object
 7   intermediate-region       2291 non-null   object
 8   region-code               5481 non-null   float64
 9   sub-region-code           5481 non-null   float64
 10  intermediate-region-code  2291 non-null   float64
 11  Year                      5481 non-null   object
 12  gni                       5443 non-null   float64
dtypes: float64(5), object(8)
memory usage: 385.4+ KB

In [30]:
indice_gni_iso_code_porAno.isnull().sum()

Country                        0
alpha-2                       29
alpha-3                        0
country-code                   0
iso_3166-2                     0
region                         0
sub-region                     0
intermediate-region         3190
region-code                    0
sub-region-code                0
intermediate-region-code    3190
Year                           0
gni                           38
dtype: int64

In [31]:
indice_gni_iso_code_porAno.dropna(subset = ['gni'], inplace=True)
indice_gni_iso_code_porAno.isnull().sum()

Country                        0
alpha-2                       29
alpha-3                        0
country-code                   0
iso_3166-2                     0
region                         0
sub-region                     0
intermediate-region         3170
region-code                    0
sub-region-code                0
intermediate-region-code    3170
Year                           0
gni                            0
dtype: int64

In [29]:
#Salvando o indice IDH por ANO
indice_gni_iso_code_porAno.to_csv(path_or_buf='./csv/indice_gni_porAno.csv')